.header{
    background: #3D93CB;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.top-nav{
    background: inherit;
    flex: 1;
    margin-left: 100px;
}
.logo {
    width: 120px;
    height: 80px;
    float: left;
    margin-left: 60px;
}


.logo img{
    height: 100%;
}

.user{
    color: #fff;
    margin-top:6px;
    cursor: pointer;
}

.user .username{
    margin-right: 10px;
    
}
